In [1]:


import numpy as np
import pandas as pd
import pymysql as mdb
import sqlalchemy as sa

from decimal import *

import sexmachine.detector as gender
identify_gender = gender.Detector()

# load local sql engine
import pickle
import sys
import re
import psycopg2

from sqlalchemy_utils import database_exists, create_database

%matplotlib inline
%config InlineBackend.figure_format='retina'
pd.set_option('display.max_columns', 500)
local_weave_pair = sa.create_engine("postgres://%s@localhost/%s"%('rootname','weave_pair'))

In [2]:
from sklearn.ensemble import RandomForestClassifier

rfclf = RandomForestClassifier(n_estimators=10000, class_weight="auto")

In [3]:
## create a database (if it doesn't exist)
if not database_exists(local_weave_pair.url):
    create_database(local_weave_pair.url)
print(database_exists(local_weave_pair.url))

# connect:
#con = None
con = psycopg2.connect(database = 'weave_pair', user = 'jiongz')
#con = psycopg2.connect(database = dbname, user = username, password = passwd)


# query:
sql_query = """
SELECT * FROM training_set;
"""
training_set = pd.read_sql_query(sql_query,con)

True

# Get Rating Prediction Model

In [7]:
y = training_set.loc[:,'rating'].values
X = training_set.loc[:,['meeting_times_x','meeting_times_y', 'get_ratings_mean', 'match_scores', 'user_degrees', 'match_degrees', 'user_genders', 'match_genders']].values
rfclf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight='auto', criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

# Calculate meeting features for available users

In [8]:
# get user features query:
sql_query = """
SELECT * FROM user_features_combine;
"""
user_features = pd.read_sql_query(sql_query,con)
user_features.head(3)

,level_0,user_id,meeting_times,hood,title,looking_for,get_ratings_mean,ratings_mean,index,name,degree,start_yr,majors
0,0,307,12,soma market st north beach,{ceo},"{""investor founder""}",4.333333333333333333333333333,4.25,67,Everett Young,"B.A.,",2000,"{""Entrepreneurship/Entrepreneurial Studies"",""T..."
1,1,2183,11,,{founder},"{""""}",4.888888888888888888888888889,4.363636363636363636363636364,118,Brian Ma,"BS,",2004,"{""Computer Science, Electrical Engineering""}"
2,2,1081,10,,"{""softwar engin""}","{""""}",4.50,4.50,107,Amin Shaikh,"Sc.B.,",2007,"{""Computer Engineering""}"

In [9]:
user_features_com=user_features.dropna()

In [10]:
user_id_set = user_features_com['user_id'].values

In [11]:
user_id_set.astype('int');

In [12]:
available_user_ids = [217, 18119, 17745, 16570,  1286, 17668, 18096, 18182,  1282,
       17738, 18184, 18095, 17743, 18835,   137, 18863,   388, 17495,
         422,   399,   100, 18925, 16512, 18903,   474, 18902, 18818,
       18898,   475, 18896, 18908, 18544,   113, 18917,   127, 18875,
           2, 18500, 18612, 18613]

In [24]:
## building features for each pair and calculate pred_rating in meeting score matrix
## This is the time-consuming part. It predicts ratings for all possible pairs.
## rating_user in rows; match_user in 
## ['meeting_times_x','meeting_times_y', 'get_ratings_mean', 'match_scores', 'user_degrees', 'match_degrees', 'user_genders', 'match_genders']

meeting_score_matrix = pd.DataFrame(index=available_user_ids, columns=available_user_ids)
degree_dict = {'b':1, 'm':2, 'p':3}
gender_dict = {'female':0, 'mostly_female':0, 'male':1, 'mostly_male':1, 'andy':2}

for user_1 in available_user_ids:
    for user_2 in available_user_ids:
        if user_1 == user_2:
            # meeting rating 0 if same user
            meeting_score_matrix.set_value(user_1, user_2, 0)
        else:
            ############################ meeting features ###############################
            meeting_times_x = user_features_com[user_features_com['user_id'] == user_1]['meeting_times'].values[0].astype('int')
            meeting_times_y = user_features_com[user_features_com['user_id'] == user_2]['meeting_times'].values[0].astype('int')
            get_ratings_mean= user_features_com[user_features_com['user_id'] == user_1]['get_ratings_mean'].values[0]
            # calculate match score
            demands = set(user_features_com.loc[user_features_com['user_id'] == user_1,'looking_for'].values[0][0].split())
            supplies = set(user_features_com.loc[user_features_com['user_id']== user_2,'title'].values[0][0].split())
            if not demands:
                match_score = 1
            else:
                if demands.intersection(supplies):
                    match_score = 2
                else:
                    match_score = 0
            # user1 degree
            if user_features_com.loc[user_features_com['user_id'] == user_1,'degree'].values:
                user_degree = user_features_com.loc[user_features_com['user_id'] == user_1,'degree'].values[0][0].lower()
                if user_degree in degree_dict:
                    user_degree = degree_dict[user_degree]
                else:
                    user_degree = 0
            else:
                user_degree = 0
            # match degree
            if user_features_com.loc[user_features_com['user_id'] == user_2,'degree'].values:
                match_degree = user_features_com.loc[user_features_com['user_id'] == user_2,'degree'].values[0][0].lower()
                if match_degree in degree_dict:
                    match_degree = degree_dict[match_degree]
                else:
                    match_degree = 0
            else:
                match_degree = 0
        
            # get genders
            # user_gender
            user_name = user_features_com.loc[user_features_com['user_id'] == user_1,'name'].values[0].split()[0]
            user_gender = gender_dict[identify_gender.get_gender(user_name)]
            # match_gender
            match_name = user_features_com.loc[user_features_com['user_id'] == user_2,'name'].values[0].split()[0]
            match_gender = gender_dict[identify_gender.get_gender(match_name)]
            
            ################# predict meeting rating ####################### 
            user1_rate_user2 = rfclf.predict([meeting_times_x, meeting_times_y, get_ratings_mean, match_score, user_degree, match_degree, user_gender, match_gender])
            meeting_score_matrix.set_value(user_1, user_2, user1_rate_user2[0])

In [26]:
meeting_score_matrix[:3]

,217,18119,17745,16570,1286,17668,18096,18182,1282,17738,18184,18095,17743,18835,137,18863,388,17495,422,399,100,18925,16512,18903,474,18902,18818,18898,475,18896,18908,18544,113,18917,127,18875,2,18500,18612,18613
217,0,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
18119,5.00,0,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00
17745,5.00,5.00,0,5.00,5.00,5.00,4.00,5.00,5.00,5.00,4.00,4.00,5.00,4.00,4.00,4.00,4.00,4.00,4.00,4.00,5.00,4.00,4.00,4.00,4.00,4.00,5.00,4.00,4.00,4.00,5.00,4.00,5.00,5.00,4.00,4.00,4.00,4.00,4.00,5.00

In [39]:
# Select 5 star pairs
good_matches = []
for i in xrange(len(available_user_ids)):
    for j in xrange(i+1, len(available_user_ids)):
        rating1 = float(meeting_score_matrix[available_user_ids[i]][available_user_ids[j]])
        rating2 = float(meeting_score_matrix[available_user_ids[j]][available_user_ids[i]])
        if rating1+rating2 == 10:
            good_matches.append((available_user_ids[i], available_user_ids[j]))

In [40]:
print good_matches

[(217, 18119), (217, 17745), (217, 16570), (217, 1286), (217, 17668), (217, 18096), (217, 18182), (217, 17738), (217, 18184), (217, 18095), (217, 18863), (217, 17495), (217, 422), (217, 100), (217, 16512), (217, 18903), (217, 474), (217, 18902), (217, 18818), (217, 18898), (217, 475), (217, 18908), (217, 18544), (217, 113), (217, 18917), (217, 127), (217, 18875), (217, 2), (217, 18500), (217, 18612), (217, 18613), (18119, 17745), (18119, 16570), (18119, 1286), (18119, 18096), (18119, 17738), (18119, 18184), (18119, 18095), (18119, 18863), (18119, 422), (18119, 100), (18119, 18903), (18119, 474), (18119, 18902), (18119, 18818), (18119, 18898), (18119, 18908), (18119, 18544), (18119, 113), (18119, 18917), (18119, 18875), (18119, 2), (18119, 18500), (18119, 18612), (18119, 18613), (17745, 16570), (17745, 1286), (17745, 17738), (17745, 100), (17745, 18818), (17745, 18908), (17745, 113), (17745, 18917), (17745, 18613), (16570, 1286), (16570, 17738), (16570, 18184), (16570, 18095), (16570, 18863), (16570, 388), (16570, 17495), (16570, 422), (16570, 399), (16570, 100), (16570, 16512), (16570, 18903), (16570, 474), (16570, 18902), (16570, 18818), (16570, 18898), (16570, 475), (16570, 18908), (16570, 18544), (16570, 113), (16570, 18917), (16570, 18875), (16570, 2), (16570, 18500), (16570, 18612), (16570, 18613), (1286, 18096), (1286, 17738), (1286, 18184), (1286, 18095), (1286, 18863), (1286, 422), (1286, 100), (1286, 18903), (1286, 474), (1286, 18902), (1286, 18818), (1286, 18898), (1286, 18908), (1286, 18544), (1286, 113), (1286, 18917), (1286, 18875), (1286, 2), (1286, 18500), (1286, 18612), (1286, 18613), (17668, 18096), (17668, 18184), (17668, 18095), (17668, 422), (17668, 100), (17668, 18818), (17668, 18898), (17668, 18908), (17668, 18917), (17668, 127), (17668, 18875), (17668, 18500), (17668, 18613), (18096, 18184), (18096, 18095), (18096, 18863), (18096, 17495), (18096, 422), (18096, 100), (18096, 16512), (18096, 18903), (18096, 474), (18096, 18902), (18096, 18818), (18096, 475), (18096, 18908), (18096, 18544), (18096, 18917), (18096, 127), (18096, 18875), (18096, 2), (18096, 18612), (18182, 100), (18182, 18902), (18182, 18818), (18182, 18908), (18182, 18917), (18182, 18875), (18182, 18613), (1282, 100), (1282, 18902), (1282, 18818), (1282, 18908), (17738, 18863), (17738, 100), (17738, 18903), (17738, 474), (17738, 18902), (17738, 18818), (17738, 18908), (17738, 18544), (17738, 18917), (17738, 18875), (17738, 2), (17738, 18612), (17738, 18613), (18184, 18095), (18184, 18863), (18184, 17495), (18184, 422), (18184, 100), (18184, 16512), (18184, 18903), (18184, 474), (18184, 18902), (18184, 18818), (18184, 18898), (18184, 475), (18184, 18908), (18184, 18544), (18184, 113), (18184, 18917), (18184, 127), (18184, 18875), (18184, 2), (18184, 18612), (18095, 18863), (18095, 17495), (18095, 422), (18095, 100), (18095, 16512), (18095, 18903), (18095, 474), (18095, 18902), (18095, 18818), (18095, 18898), (18095, 475), (18095, 18908), (18095, 18544), (18095, 113), (18095, 18917), (18095, 127), (18095, 18875), (18095, 2), (18095, 18612), (17743, 100), (17743, 18818), (17743, 18908), (18835, 399), (18835, 100), (18835, 18902), (18835, 18818), (18835, 18908), (18863, 17495), (18863, 422), (18863, 399), (18863, 100), (18863, 16512), (18863, 18903), (18863, 474), (18863, 18902), (18863, 18818), (18863, 18898), (18863, 475), (18863, 18908), (18863, 18544), (18863, 113), (18863, 18917), (18863, 127), (18863, 18875), (18863, 2), (18863, 18500), (18863, 18612), (388, 399), (388, 100), (388, 18902), (388, 18818), (388, 18908), (17495, 422), (17495, 399), (17495, 100), (17495, 16512), (17495, 18903), (17495, 474), (17495, 18902), (17495, 18818), (17495, 18898), (17495, 475), (17495, 18908), (17495, 18544), (17495, 113), (17495, 18917), (17495, 127), (17495, 18875), (17495, 2), (17495, 18500), (17495, 18612), (422, 100), (422, 16512), (422, 18903), (422, 474), (422, 18902), (422, 18818), (422, 18898), (422, 475), (422, 18908), (422, 18544), (422, 113), (422, 18917), (422, 127), (422, 18875), (422, 2), (422, 18612), (399, 100), (399, 16512), (399, 18903), (399, 474), (399, 18902), (399, 18818), (399, 475), (399, 18896), (399, 18908), (399, 18544), (399, 113), (399, 18917), (399, 18875), (399, 2), (399, 18612), (100, 18925), (100, 16512), (100, 18903), (100, 474), (100, 18902), (100, 18818), (100, 18898), (100, 475), (100, 18896), (100, 18908), (100, 18544), (100, 113), (100, 18917), (100, 127), (100, 18875), (100, 2), (100, 18500), (100, 18612), (100, 18613), (18925, 18818), (18925, 18908), (16512, 18903), (16512, 474), (16512, 18902), (16512, 18818), (16512, 18898), (16512, 475), (16512, 18908), (16512, 18544), (16512, 113), (16512, 18917), (16512, 127), (16512, 18875), (16512, 2), (16512, 18500), (16512, 18612), (18903, 474), (18903, 18902), (18903, 18818), (18903, 18898), (18903, 475), (18903, 18908), (18903, 18544), (18903, 113), (18903, 18917), (18903, 127), (18903, 18875), (18903, 2), (18903, 18500), (18903, 18612), (474, 18902), (474, 18818), (474, 18898), (474, 475), (474, 18908), (474, 18544), (474, 113), (474, 18917), (474, 127), (474, 18875), (474, 2), (474, 18500), (474, 18612), (18902, 18818), (18902, 18898), (18902, 475), (18902, 18896), (18902, 18908), (18902, 18544), (18902, 113), (18902, 18917), (18902, 18875), (18902, 2), (18902, 18500), (18902, 18612), (18818, 18898), (18818, 475), (18818, 18896), (18818, 18908), (18818, 18544), (18818, 113), (18818, 18917), (18818, 127), (18818, 18875), (18818, 2), (18818, 18500), (18818, 18612), (18818, 18613), (18898, 475), (18898, 18908), (18898, 18544), (18898, 113), (18898, 18917), (18898, 127), (18898, 18875), (18898, 2), (18898, 18612), (475, 18908), (475, 18544), (475, 113), (475, 18917), (475, 127), (475, 18875), (475, 2), (475, 18500), (475, 18612), (18896, 18908), (18908, 18544), (18908, 113), (18908, 18917), (18908, 127), (18908, 18875), (18908, 2), (18908, 18500), (18908, 18612), (18908, 18613), (18544, 113), (18544, 18917), (18544, 127), (18544, 18875), (18544, 2), (18544, 18500), (18544, 18612), (113, 18917), (113, 18875), (113, 2), (113, 18612), (113, 18613), (18917, 127), (18917, 18875), (18917, 2), (18917, 18612), (127, 18875), (127, 2), (127, 18612), (18875, 2), (18875, 18612), (2, 18500), (2, 18612), (18500, 18612)]